  
  #socailMediaTxt{
    margin-bottom: 41px;
    margin-left: -47px;
  }
  
  #logoSm {
    width: 127px;
    left: 91px;
    position: relative;
    top: -96px;
  }

  #socialMediaLogoAndText{
    position: absolute;
    top: 5763px;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #socailMediaAbout{
    text-align: center;
    top: 5506px;
    left: 27px;
    right: 24px;
    font-size: 19px;
    position: absolute;
  }
  #contactUs {
    position: absolute;
    top: 5803px;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
#contactUs a {
  display: inline-block;
  margin: 0 10px; /* Adjust the margin as needed */
}