html,body{
  background-color: black;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}


#travelImageAndTxt {
  position: absolute;
  top: 990px;
  left: 47%;
  transform: translate(-50%, -50%);
  text-align: center;
  }


  #travlignAbout{
    text-align: center;
    top: 980px;
    margin-left: 46px;
    margin-right: 46px;
    font-size: 19px;
    position: absolute;
  }
  
  #travlignTxt {
    margin-bottom: 10px; /* Optional: Add some space between the text and the image */
  }
  
  #travelImage {
    width: 127px;
    left: 92px;
    position: relative;
    top: -96px;
  }
  

  #kumari_ella_desc {
    text-align: center;
    top: 1669px;
    margin-left: 46px;
    margin-right: 46px;
    font-size: 19px;
    position: absolute;
  }
  
  #kumari_ella_desc > * {
    display: table-cell; /* Use display: table-cell to align child elements */
    vertical-align: middle; /* Align child elements vertically */
  }
  
  #kumariellaName {
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 1103px;
    left: 50%;
    transform: translateX(-50%);
}
#barandiKovilaName{
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 2598px;
  left: 50%;
  transform: translateX(-50%);
}

#barndiKoviladESC{
  text-align: center;
  top: 3230px;
  position: absolute;
  margin-left: 46px;
  margin-right: 46px;
  font-size: 19px;
}



#kahavitaName{
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 4086px;
  left: 50%;
  transform: translateX(-50%);
}


#kahanvitaEllDesc{
  text-align: center;
  top: 4660px;
  position: absolute;
  margin-left: 46px;
  margin-right: 46px;
  font-size: 19px;
}
















  /*-----------------------------------------------------------------Media Quary------------------------------------*/

@media all  and (Max-width: 1022px ) {
  #barandiKovilaName{
    font-size: 35px;
  }
  #kumariellaName{
    font-size: 35px;
  left: 49%;
}
#kahavitaName{
  font-size: 35px;

}

}

@media all  and (Max-width: 518px ) {
  #barndiKoviladESC
  {
    font-size: 18px;
  }
  #kumari_ella_desc
  {

    font-size: 18px;
 
  }
}

@media all  and (Max-width: 472px ) {
  #kahanvitaEllDesc
  {
 
    top: 4768px;

  }

  #kahavitaName
{
    top: 4220px;
  }

  #barndiKoviladESC
{

  top: 3263px;
 
}

.barandKovila
{

  top: 3051px;
 
}
#barandiKovilaName
{
    font-size: 24px;
  }
}



@media all  and (Max-width: 536px ) {
  #barandiKovilaName
  {
   
    top: 2758px;
    
  }

  #kahavitaName
  {
      font-size: 25px;
    }
    #kahavitaName
    {
        top: 4258px;
      }

        #barndiKoviladESC
{

  top: 3263px;
 
}

#barndiKoviladESC
{
  font-size: 20px;
}
#kumari_ella_desc
{

  font-size: 18px;

}
}



@media all  and (Max-width: 426px ) {
  #kumariellaName
{
  font-size: 25px;
    top: 1178px;
  }

  #travlignAbout
  {

    font-size: 14px;
   
  }

  .barandKovila
{

  top: 3042px;

}

#barndiKoviladESC
{
    font-size: 18px;
  }
  #kumari_ella_desc
  {
      font-size: 17px;
    }

    .barandKovila
{

  top: 3038px;
 
}

#barandiKovilaName
{
    font-size: 18px;
  }
}