#travelImageAndTxt {
  position: absolute;
  top: 990px;
  left: 47%;
  transform: translate(-50%, -50%);
  text-align: center;
  }
  
  #travlignTxt {
    margin-bottom: 10px; /* Optional: Add some space between the text and the image */
  }
  
  #travelImage {
    width: 127px;
    left: 92px;
    position: relative;
    top: -96px;
  }
  

  #kumari_ella_desc {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    position: absolute;
    top: 1420px;
    left: 50%;
    transform: translateX(-50%);
    display: table; /* Use display: table to center horizontally */
    font-size: 20px;
  }
  
  #kumari_ella_desc > * {
    display: table-cell; /* Use display: table-cell to align child elements */
    vertical-align: middle; /* Align child elements vertically */
  }
  
  #kumariellaName {
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 930px;
    left: 50%;
    transform: translateX(-50%);
}






















  