html,body{
  background-color: black;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}


.map-container {
    position: relative;
    text-align: center;
  }
  
  iframe
  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2125px;
  }
  #barandiKovilaMapp
  {
    position: absolute;
    top: 1439px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #kahnavitaEllMap
  {
    position: absolute;
    top: 2789px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
#frameMap{
  width: 600px;
  height: 450px;
 
}
@media all  and (Max-width: 462px ) {

  iframe
  {

    top: 2266px;
  }

  #barandiKovilaMapp
  {

    top: 1580px;

  }
  #kahnavitaEllMap
  {
    position: absolute;
    top: 2877px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  iframe
{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2232px;
}
}

  
@media all  and (Max-width: 710px ) {

  #frameMap{
  
    width: 500px;
  height: 350px;
  }


}

@media all  and (Max-width: 598px ) {
  #frameMap{
  
    width: 500px;
  height: 250px;
  }

}

@media all  and (Max-width: 528px ) {
  #frameMap{
  
    width: 400px;
  height: 250px;
  }

}



@media all  and (Max-width: 426px ) {
  #frameMap{
  
    width: 300px;
  height: 250px;
  }


}

@media all  and (Max-width: 424px ) {
  #frameMap{
  
    width: 300px;
  height: 250px;
  }
  iframe
  {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 2361px;
    }
    #barandiKovilaMapp
    {
        top: 1492px;
      }

      #kahnavitaEllMap
{
    position: absolute;
    top: 2735px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}